@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,800;0,900;1,300;1,500;1,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root{
  --text-color: #0e0e0e;
  --bg-color: linear-gradient(74deg, rgba(198,222,255,1) 0%, rgba(236,254,255,1) 20%, rgba(255,255,255,1) 50%, rgba(236,254,255,1) 80%, rgba(198,222,255,1) 100%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {  
  position: relative;
  box-shadow: 0px 4px 5px rgba(22, 22, 22, 0.1);
  background-color: #ffffff;
  color: rgb(20, 20, 20);
  padding: 5px 0px;
  text-align: center;
  width: 100%;
  height: 60px;
}
.logo {
	display: flex;
	
}
.logo img {
	width: 160px;
  margin-top: 5px;
  margin-left: 20%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-nav ul li {
  margin-left: 40px;
}
.main-nav a:hover {
  color: #828282;
}

a{
  color: #0e0e0e;
  text-decoration: none;
} 
.welcome-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 350PX;
  padding: 80px;
  background: var(--bg-color);
}

.linktoenroll{
  display: block;
  padding: 10px 20px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(12, 12, 12);
  text-decoration: none;
  border: 1px solid #151515;
  border-radius: 5px;
  width: fit-content;
}
  
.welcome-content {
  width: 45%;
}
.cimg img{
  width: 450px;
}
.course-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.containers p{
  width: 500px;
}

.course-description {
  font-size: 1em;
  margin-bottom: 20px;
  width: 500px;
}
.introduction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #ffffff;
}
.introtext{
  padding: 0;
  margin: 0;
  margin-left: 60px;
}
.syllabus-dropdown,.course-section{
  padding: 5px 30px;
}
.mmain{
  background: var(--bg-color);
}
.content {
  counter-reset: section; 
}
.syllabus-list {
  list-style-type: none;
  padding: 0;
}

.collapsible-label {
  font-weight: 600;
  display: block;
  cursor: pointer;
  padding: 10px;
  color: #0e0e0e;
  border-radius: 5px;
}


.collapsible-content {
  display: none;
  padding: 10px;
  background-color: #ffffff;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .collapsible-label + .collapsible-content {
  display: block;
}

.sublist {
  counter-reset: subcounter; 
  list-style-type: none;
  padding: 0;
}
.collapsible-label::before {
  content: counter(section)  ".  "; 
  counter-increment:section; 
}

.sublist li::before {
  content: counter(section) "." counter(subcounter) " "; 
  counter-increment: subcounter; 
}

.course-detail-section {
  background-color: #ffffff;
  padding: 50px 80px;
}

.course-detail {
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.course-detail-image {
  width: 40%;
  height: auto;
}

.course-detail-description {
  width: 50%;
  font-size: 1.2em;
}

.course-detail-instructor,
.course-detail-duration {
  font-size: 1em;
  margin-bottom: 10px;
}

.course-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 1.8em;
  margin-bottom: 10px;
}


.collapsible {
  color: rgb(15, 15, 15);
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  text-align: left;
}

.content {
  background-color: #ffffff;
  border-radius: 10px;
}

.syllabus-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.syllabus-list li {
  padding: 15px 20px;
  border-style: solid;
  border-width: 0 0 1px  0;
  border-color: #d5d3d342;
}

.syllabus-description {
  margin-top: 10px;
  font-size: 0.9em;
}

.prerequisites-text {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.lastp{
  display: flex;
}
.testimonial-section {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.testimonial {
  width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 25px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.testimonial-text {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.author {
  font-size: 0.9em;
  font-style: italic;
  color: #777;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.video{
  position: relative;
  padding-bottom: 300px;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  }


