@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,800;0,900;1,300;1,500;1,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root{
	--bg-color: linear-gradient(88deg, rgba(211, 181, 255) 0%, rgba(188, 223, 255) 20%, rgba(214, 243, 255) 50%, rgb(214, 243, 255) 85%, rgb(188, 223, 255) 90%, rgb(211, 181, 255) 100%);
	--cblue: #22489e;
}

html {
	scroll-behavior: smooth;
	background: var(--bg-color);
}
body {
	font-family: 'Open Sans', sans-serif;
}


.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	background: #fff;
	justify-content: space-around;
	align-items: center;
	z-index: 4;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: var(--cblue);
}
.menu{
	width: 40px;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: var(--cblue);
}
.get-star{
	align-items: center;
}
.get-started {
	margin-right:  15px; 
	padding: 5px 20px;
	border: 2px solid var(--cblue);
	border-radius: 10px;
	text-decoration: none;
	transition: .5s;
	background-color: var(--cblue);
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo img{
	width: 150px;
	cursor: pointer;
}

a, button {
	float: left;
	font-weight: 500;
	font-size: 15px;
	color: #161e24;
	display: block;
	text-decoration: none;
	text-align: center;
}
.head-container {
	margin-top: 245px;
	display: flex;
	flex-wrap: wrap; 
	align-items: center;
	justify-content: space-around;
}
.quote {
	width: 600px;
}
.quote h5 {
	margin-top: 20px;
	color: rgb(96, 96, 96);
	font-weight: 400;
	line-height: 20px;
}
.quote p {
	font-size: 70px;
	font-weight: 800;
	color: #2e2e2e;
}
.welcome-link {
	margin: 50px;
	margin-top: 0;
	padding: 5px 20px;
	border: 2px solid var(--cblue);
	border-radius: 6px;
	text-decoration: none;
	
	transition: .5s;
	background-color: var(--cblue);
	color: #fff;
}
.welcome-link:hover {
	color: #2e2e2e;
	background: #fff;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}


/*Featured Courses*/
.cbox {
	position: relative;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.det {
	width: 300px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
	border-radius: 5px;
	transition: box-shadow 0.5s ease-in-out;

}
.det a{
	justify-content: space-around;
	width: fit-content;
	padding: 5px 15px; 
	margin: 45px 10px 15px 25px; 
	border-radius: 5px;
	border: 1px solid var(--cblue);
	font-size: 15px;
	color: #272529;
	text-decoration: none;
}
.det:hover {
	box-shadow: -8px 10px 30px rgba(0, 151, 184, 0.868);
	transform: scale(1.1);
	transition: .7s ease-in-out;

}

.det img {
	width: 90%;
	margin: 10px;
	border-radius: 10px;
}
.det p{
	font-size: 14px;
	text-align: left;
	margin: 8px 14px;

}

/*ABOUT*/
.about-content {
	width: 100%;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.about-content .side-text {
	width: 550px;
	padding: 50px 40px;
	background: #fff;
	box-shadow: 2px 0 100px rgba(0,0,0,0.3);
	border-radius: 5px;
	text-align: justify;
	line-height: 22px;
	opacity: 0;
	transform: translateX(200px);
	transition: 1s ease-in-out;
}
.about-content .side-text-appear {
	opacity: 1;
	transform: translateX(0px);
}
.about-content .side-text h2 {
	padding: 10px;
}
.about-content .side-text p {
	padding: 10px;
}
.about-content .side-image img {
	width: 90%;
	border-radius: 5px;
}
.sideImage {
	transform: translateX(100px);
	opacity: 0;
	transition: .8s ease-in-out;
}
.sideImage-appear {
	opacity: 1;
	transform: translateX(0px);
}
.dets{
	width: 300px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
	border-radius: 5px;
}

/* SIDE MENU */

.side-menu {
	width: 100%;
	height: 100%;
	background:var(--cblue);
	position: absolute;
	top: 0;
	transition: .8s;
	z-index: 2000;
	transform: translateX(-100%);
}
.side-menu ul {
	margin-top: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.side-menu ul li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.side-menu ul li:hover a{
	background: #fff;
	color: #232323;
}
.side-menu ul li a{
	color: #FFF;
	width: 100%;
	font-size: 1em;
	text-decoration: none;
	padding: 15px 0px;
}
.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}
.user img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: drop-shadow(0 10px 20px #0004);
	margin-right: 30px;
	cursor: pointer;
}
.user p {
	color: #fff;
	cursor: pointer;
}
.user img, .user p {
	opacity: 1;
}
/*Common things in all sections*/
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}

/*PORTFOLIO*/
.extra {
	width: 100%;
}
.extra p {
	padding: 30px;
	padding-bottom: 50px;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
	color: #fff;

}
.smboxs{
		background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("images/extra/b1.jpg");
	background-size: cover;
}
.smbox {

	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.smbox span {
	margin: 1%;
	background: #fff;
	border-radius: 10px;
	padding: 30px 10px;
	cursor: pointer;
	box-shadow: 7px 9px 1px rgba(7, 0, 23, 0.9);

}
.smbox span:hover {
	transform: scale(1.1);
	transition: .5s ease;
}
.smbox .data {
	font-size: 80px;
	font-weight: 900;
	color: var(--cblue);	
}
.smbox .det {
	font-size: 20px;
	color: #272529;
}

/*Title*/
.title {
	 margin-top: 50px; 
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #2E3D49;
}



/*TEAM SECTION*/
.totalcard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2),
					0 0 10px rgba(0,0,0,0.2);
}
.card{
	border-bottom: 5px solid green;
	transition-duration: 0.4s;

}

.card:hover {
	box-shadow: inset 0px 0px 10px rgba(11, 107, 234, 0.5),
				1px 1px 30px rgba(0, 173, 186, 0.896);
}

.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 25px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: 0.8s;
}
.totalcard .card img:hover {
	transform: scale(1.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 0 25px;
}
#detail button {
	border-radius: 10px;
	border-style: none;
	border: 1px solid rgb(143, 143, 143);
	padding: 9px 25px;
	cursor: pointer;
	transition-duration: 0.4s;
}
#detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-roshan:hover {
	background: rgb(86, 182, 191);
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}

/*REVIEW SECTION*/
#makeitfull {
	display: flex;
	justify-content: center;
	transform: translateY(35px);
}
#makeitfull img {
	width: 50px;
}
.review {
	background: #F8F8F8;
	width: 100%;
}
.rev-container {
	padding: 10px 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.rev-container .rev-card {
	width: 550px;
	height: 240px;
	margin-bottom: 40px;
	background: #fff;
	display: flex;
	padding: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
.rev-card:hover {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.identity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.identity img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.identity p {
	width: 150px;
	font-weight: bold;
	color: #2E3D49;
	text-align: center;
}
.identity h6 {
	width: 150px;
	text-align: center;
}
.identity .rating img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.rev-cont {
	overflow: hidden;
}
.rev-cont #title {
	padding: 10px;
	color: #2E3D49;
	font-weight: bold;
}
.rev-cont #content {
	padding: 10px;
	font-size: .9em;
	color: #2E3D49;
	line-height: 22px;
	text-align: justify;
}



/*Contact Us Section*/
.csec {
	
	background-attachment: fixed; 
	position: absolute;
	width: 100%;
	height: 250px;
	top: 200px;
	content: '';
	transform-origin: top right;
	transform: skewY(-10deg);
	z-index: -1;
}
.back-contact {
	margin-top: 0px;
	transform: translateY(-50px);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.cc {
	height: 400px;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	justify-content: center;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
	background: #fff;
}
.cc form {
	margin: 5%;
	margin-top: 40px;
	width: 90%;
	height: 90%;
}
.cc form label {
	position: absolute;
	color: #2E3D49;
	font-size: 10px;
	font-weight: 800;
}
.cc form input {
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	outline: none;
	color: #2E3D49;
	font-weight: 600;
}
.imp {
	color: red;
}
form textarea {
	width: 100%;
	height: 100px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	outline: none;
	color: #2E3D49;
	font-weight: 600;
	padding: 15px;
}
#csubmit {
	margin-top: 20px; 
	background: var(--cblue);
	border-radius: 5px;
	border-style: none;
	outline: none;
	width: 100%;
	padding: 15px 25px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}





/*FOOTER*/
footer {
	color: #000D;
	background:#ffffff ;
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
	
}

footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
	

}
footer .right-col img{
	width: 800px;
	
}footer .left-col img{
	filter: invert(100%);

}




/*RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 0px;
		display: flex;
		justify-content: center;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 60px;
	}
	
}
